<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Settings</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container-fluid">

        {% if success %}
        <div class="alert alert-success" role="alert">
            <p>Setting Saved.</p>
        </div>
        {% endif %}

    	<h1>Settings</h1>

		<form method="post">

        {% if 'name' in errors %}
            <div class="form-group has-error">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ settings['name'] }}">
                <span class="help-block">{{errors['name']}}</span>
            </div>
            {% else %}
            <div class="form-group">
                <label for="parenturi">Aggrigator URI</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="URI" value="{{ settings['name'] }}">
            </div>
        {% endif %}

        {% if 'parenturi' in errors %}
          <div class="form-group has-error">
            <label for="parenturi">Name</label>
            <input type="text" class="form-control" id="parenturi" name="parenturi" placeholder="URI" value="{{ settings['parenturi'] }}">
            <span class="help-block">{{errors['parenturi']}}</span>
          </div>
        {% else %}
          <div class="form-group">
            <label for="parenturi">Aggrigator URI</label>
            <input type="text" class="form-control" id="parenturi" name="parenturi" placeholder="URI" value="{{ settings['parenturi'] }}">
          </div>
        {% endif %}

        {% if 'users' in errors %}
          <div class="form-group has-error">
            <label for="users">Twitter UserIDs</label>
            <input type="text" class="form-control" id="users" name="users" placeholder="Comma Seperated UserIDs" value="{{ settings['users'] }}">
            <span class="help-block">{{errors['users']}}</span>
          </div>
        {% else %}
          <div class="form-group">
            <label for="users">Twitter UserIDs</label>
            <input type="text" class="form-control" id="users" name="users" placeholder="Comma Seperated UserIDs" value="{{ settings['users'] }}">
          </div>
        {% endif %}

        {% if 'consumer_key' in errors %}
          <div class="form-group has-error">
            <label for="users">Twitter Consumer Key</label>
            <input type="text" class="form-control" id="consumer_key" name="consumer_key" placeholder="Twitter Consumer key" value="{{ settings['consumer_key'] }}">
            <span class="help-block">{{errors['users']}}</span>
          </div>
        {% else %}
          <div class="form-group">
            <label for="users">Twitter Consumer Key</label>
            <input type="text" class="form-control" id="consumer_key" name="consumer_key" placeholder="Twitter Consumer key" value="{{ settings['consumer_key'] }}">
          </div>
        {% endif %}

        {% if 'consumer_secret' in errors %}
          <div class="form-group has-error">
            <label for="users">Twitter Consumer Secret</label>
            <input type="text" class="form-control" id="consumer_secret" name="consumer_secret" placeholder="Twitter Consumer Secret" value="{{ settings['consumer_secret'] }}">
            <span class="help-block">{{errors['users']}}</span>
          </div>
        {% else %}
          <div class="form-group">
            <label for="users">Twitter Consumer Secret</label>
            <input type="text" class="form-control" id="consumer_secret" name="consumer_secret" placeholder="Twitter Consumer Secret" value="{{ settings['consumer_secret'] }}">
          </div>
        {% endif %}

        {% if 'access_token' in errors %}
          <div class="form-group has-error">
            <label for="users">Twitter Access Token</label>
            <input type="text" class="form-control" id="access_token" name="access_token" placeholder="Twitter Access Token" value="{{ settings['access_token'] }}">
            <span class="help-block">{{errors['users']}}</span>
          </div>
        {% else %}
          <div class="form-group">
            <label for="users">Twitter Access Token</label>
            <input type="text" class="form-control" id="access_token" name="access_token" placeholder="Twitter Access Token" value="{{ settings['access_token'] }}">
          </div>
        {% endif %}

        {% if 'access_secret' in errors %}
          <div class="form-group has-error">
            <label for="users">Twitter Access Secret</label>
            <input type="text" class="form-control" id="access_secret" name="access_secret" placeholder="Twitter Access Secret" value="{{ settings['access_secret'] }}">
            <span class="help-block">{{errors['users']}}</span>
          </div>
        {% else %}
          <div class="form-group">
            <label for="users">Twitter Access Secret</label>
            <input type="text" class="form-control" id="access_secret" name="access_secret" placeholder="Twitter Access Secret" value="{{ settings['access_secret'] }}">
          </div>
        {% endif %}

		  <button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
   	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>